body{
    background-color: yellow;
}

.general{
    position: relative;
    white-space: pre;
    text-align: center;
    font-size: x-large;
}

.h1{
    font-size: xx-large;
}

.block-1{
    position: relative;
    background-color: fuchsia;
    width: 100%;
}

.block-2{
    position: absolute;
    margin-bottom: -5px;
    margin-left: 20px;
    background-color: #1c7430;
    width: 100%;
}

.block-3{
    position: absolute;
    margin-bottom: -5px;
    margin-left: 20px;
    background-color: #005cbf;
    width: 100%;
 }

.block-4{
    position: absolute;
    margin-bottom: -5px;
    margin-left: 20px;
    background-color: #856404;
    width: 100%;
  }

.block-5{
    position: absolute;
    margin-bottom: -5px;
    margin-left: 20px;
    background-color: #bd2130;
    width: 100%;
  }